.hr {
    border-color: orange;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price-text {
    color: orange;
}

.search-input {
    border-color: #fc9732;
}

.search-button {
    background: #fc9732;
}

.container-fluid {
    padding-bottom: 30px;
    padding-top: 30px;
}
